<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MakeEveryDay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ITzy.dao.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectDataServlet</display-name>
    <servlet-name>CollectDataServlet</servlet-name>
    <servlet-class>com.ITzy.dao.CollectDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectDataServlet</servlet-name>
    <url-pattern>/CollectDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersReadServlet</display-name>
    <servlet-name>UsersReadServlet</servlet-name>
    <servlet-class>com.ITzy.dao.UsersReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersReadServlet</servlet-name>
    <url-pattern>/UsersReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SlingAmazon</display-name>
    <servlet-name>SlingAmazon</servlet-name>
    <servlet-class>com.ITzy.dao.SlingAmazon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlingAmazon</servlet-name>
    <url-pattern>/SlingAmazon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HighConcurrencyServlet</display-name>
    <servlet-name>HighConcurrencyServlet</servlet-name>
    <servlet-class>com.ITzy.dao.HighConcurrencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighConcurrencyServlet</servlet-name>
    <url-pattern>/HighConcurrencyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HighConcurrencyAndExecution</display-name>
    <servlet-name>HighConcurrencyAndExecution</servlet-name>
    <servlet-class>com.ITzy.dao.HighConcurrencyAndExecution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighConcurrencyAndExecution</servlet-name>
    <url-pattern>/HighConcurrencyAndExecution</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HighConcurrencyHamstringAmazonServlet</display-name>
    <servlet-name>HighConcurrencyHamstringAmazonServlet</servlet-name>
    <servlet-class>com.ITzy.dao.HighConcurrencyHamstringAmazonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighConcurrencyHamstringAmazonServlet</servlet-name>
    <url-pattern>/HighConcurrencyHamstringAmazonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleHighConcurrency</display-name>
    <servlet-name>GoogleHighConcurrency</servlet-name>
    <servlet-class>com.ITzy.dao.GoogleHighConcurrency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleHighConcurrency</servlet-name>
    <url-pattern>/GoogleHighConcurrency</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.ITzy.dao.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FIXServlet</display-name>
    <servlet-name>FIXServlet</servlet-name>
    <servlet-class>com.ITzy.dao.FIXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FIXServlet</servlet-name>
    <url-pattern>/FIXServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutomaticDataCollectionServlet</display-name>
    <servlet-name>AutomaticDataCollectionServlet</servlet-name>
    <servlet-class>com.ITzy.dao.AutomaticDataCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutomaticDataCollectionServlet</servlet-name>
    <url-pattern>/AutomaticDataCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GOGServlet</display-name>
    <servlet-name>GOGServlet</servlet-name>
    <servlet-class>com.ITzy.dao.GOGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GOGServlet</servlet-name>
    <url-pattern>/GOGServlet</url-pattern>
  </servlet-mapping>
</web-app>